:root {
    --white: #FFFFFF;
    --gray: #F6F6F6;
    --green: #01757D;
    --black: #3B3A3A;
    --text: #636363;
    --shadow: rgb(150, 150, 150);    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--black);
}

html{
    scroll-behavior: smooth;
}

p,li,a{
    color: var(--text);
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
}
.clr{
    color: var(--green);
}
h1{
    font-size: 50px;
    font-weight: 900;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}
.box{
    width: min(1200px, 100%);
}

.card, .text-content, ul, ol, .divider>:last-child{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 ul, ol{
    padding-left: 20px;
 }
.card{
    padding: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.divider{
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: flex-start;
}
.divider>:first-child{
    width: min(800px, 100%);
    min-height: 200px;
}
.divider>:last-child{
    width: min(350px, 100%);
}


button{
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
button:hover{
    transform: translateY(-5px);
    box-shadow: 0px 2px 5px var(--shadow);
}

input, select{
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid #ccc;
    width: 100%;
    
}






/* Header Section Styling */
#header{
    margin-top: 10px;
    border-bottom: 1px solid var(--gray);
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo>img{
    width: 40px;
}
nav{
    display: flex;
    gap: 40px;
    align-items: center;
}
nav>a{
    font-weight: 500;
    transition: 0.5s ease-in-out;
}
nav>a:hover{
    color: var(--green);
    transform: translateY(-5px);
}
.header>img, nav>img{
    display: none;
    width: 22px;
}








/* Footer Section Styling */
footer{
    background-color: var(--black);
    flex-direction: column;
}
footer>.grid{
    grid-template-columns: repeat(4, 1fr);
}
footer>.grid>.card>h3{
    color: var(--white);
}
footer>.grid>.card>p, footer>.bottom>p, .links>a{
    color: var(--gray);
}
.links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s ease-in-out;
}
.links>a{
    transition: 0.5s ease-in-out;
}
.links>a:hover{
    transform: translateY(-5s);
}
footer>.bottom{
    margin-top: 10px;
    border-top: 1px solid var(--shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px 0px 0px;
}





/* Make Website Responsive for all Type of Devices Size */
@media(max-width:800px){
    .divider{
        flex-direction: column;
    }
    .divider>:last-child{
        width: 100%;
    }
    footer>.grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:700px){
    .header>img, nav>img{
        display: block;
    }
    nav{
        position: absolute;
        width: 0%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        background-color: var(--green);
        overflow: hidden;
        opacity: 0;
        transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    nav.show {
        width: 70%;
        opacity: 1;
    }

    nav>a,
    nav>a:hover {
        color: var(--white);
    }
    nav>img {
        align-self: self-end;
        position: absolute;
        top: 40px;
        right: 30px;
    }
}

@media(max-width:500px){
   
    footer>.grid{
        grid-template-columns: repeat(1, 1fr);
    }
}